{
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "script"
    },
    "extends": "eslint:recommended",
    "env": {
        "node": true
    },
    "rules": {
        "no-console": "off",
        "semi": [
            "error",
            "never"
        ],
        "quotes": [
            "error",
            "single"
        ]
    }
}